In [1]:
#Q1 = Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [2]:
#import pandas library
import pandas as pd

#create a list of data
data = [4, 8, 15, 16, 23, 42]

#create a series from the list
my_series = pd.Series(data)

#print the series
print(my_series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [ ]:
#Q2 = Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.

In [3]:
#import pandas library
import pandas as pd

#create a variable of list type with 10 elements
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

#create a series from the list variable
my_series = pd.Series(my_list)

#print the series
print(my_series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [ ]:
#Q3  Create a Pandas DataFrame that contains the following data:

In [12]:
#import pandas library
import pandas as pd

#create a list of data
data = ["Alice", 25, "Female", "Bob", 30, "Male", "Claire", 27, "Female"]

#create a DataFrame from the list
df = pd.DataFrame(data)

#reshape the DataFrame to have three columns
df = df.values.reshape(3,3)

#specify the index and column names
df = pd.DataFrame(df, index=[1,2,3], columns=["Name", "Age", "Gender"])

#print the DataFrame
print(df)

     Name Age  Gender
1   Alice  25  Female
2     Bob  30    Male
3  Claire  27  Female

In [4]:
#4 = What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

In [5]:
#import pandas library
import pandas as pd

#create a DataFrame from a dictionary of lists
data = {"name": ["Alice", "Bob", "Charlie", "David"],
        "age": [25, 30, 35, 40],
        "gender": ["F", "M", "M", "M"]}
df = pd.DataFrame(data)

#print the DataFrame
print(df)

#create a Series from a list
ages = [25, 30, 35, 40]
s = pd.Series(ages)

#print the Series
print(s)

      name  age gender
0    Alice   25      F
1      Bob   30      M
2  Charlie   35      M
3    David   40      M
0    25
1    30
2    35
3    40
dtype: int64

In [6]:
#Q5 =  What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?

In [7]:
#import pandas library
import pandas as pd

#create a DataFrame from a dictionary of lists
data = {"name": ["Alice", "Bob", "Charlie", "David"],
        "age": [25, 30, 35, 40],
        "gender": ["F", "M", "M", "M"]}
df = pd.DataFrame(data)

#use head() to get the first two rows
print(df.head(2))

#use describe() to get the summary statistics for the numeric columns
print(df.describe())

#use sort_values() to sort the DataFrame by age in descending order
print(df.sort_values(by="age", ascending=False))

#use drop() to drop the gender column
print(df.drop(axis=1, labels="gender"))

#use rename() to rename the name column to fullname
print(df.rename(axis=1, mapper={"name": "fullname"}))

    name  age gender
0  Alice   25      F
1    Bob   30      M
             age
count   4.000000
mean   32.500000
std     6.454972
min    25.000000
25%    28.750000
50%    32.500000
75%    36.250000
max    40.000000
      name  age gender
3    David   40      M
2  Charlie   35      M
1      Bob   30      M
0    Alice   25      F
      name  age
0    Alice   25
1      Bob   30
2  Charlie   35
3    David   40
  fullname  age gender
0    Alice   25      F
1      Bob   30      M
2  Charlie   35      M
3    David   40      M

In [8]:
#Q6 = Which of the following is mutable in nature Series, DataFrame, Panel?

In [9]:
# ans =  Out of the three data structures in pandas, Series, DataFrame, and Panel, the DataFrame is the only one that is mutable in nature. This means that the DataFrame can be modified by adding, deleting, or updating its rows and columns. The Series and the Panel are immutable, meaning that they cannot be changed once created .

In [10]:
# Q7. Create a DataFrame using multiple Series. Explain with an example.

In [11]:
#import pandas library
import pandas as pd

#create three Series with the same index
name = pd.Series(["Alice", "Bob", "Charlie", "David"], index=[1,2,3,4])
age = pd.Series([25, 30, 35, 40], index=[1,2,3,4])
gender = pd.Series(["F", "M", "M", "M"], index=[1,2,3,4])

#create a dictionary that maps each Series to a column name
data = {"name": name,
        "age": age,
        "gender": gender}

#create a DataFrame from the dictionary of Series
df = pd.DataFrame(data)

#print the DataFrame
print(df)

      name  age gender
1    Alice   25      F
2      Bob   30      M
3  Charlie   35      M
4    David   40      M